@import url('https://fonts.googleapis.com/css?family=Kodchasan');

.resultText {
  font-family: 'Kodchasan', sans-serif;
}

#search {
  margin-left:20%;
  margin-right:20%;
}

#search input {
  text-align: center;
}

.alert-no-found {
  background-color: #fcf8e3;
  border-radius: 5%;
  color: #8a6d3b;
  font-size: 16px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px 0;
  text-align: center;
}
