.avatar{
  align-content: center;
  border-radius: 50%;
  height: auto;
  width:100%;
}

.users-card {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  min-width: 200px;
  transition: 0.3s;
  width: 20vw;
  padding: 0 5%;
}

.user-card:hover {
  background-color: #ccc;
}

.user-card__image {
  width: 20%;
}

.user-card__image img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.user-card__username {
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  width: 70%;
}
